<div class="page-header text-center">
  <h2>Ficha de Atendimento</h2>
</div>
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3 class="panel-title">Dados do Imóvel</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-12">
        <label>Empreendimento:</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label>Quartos:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <label>Andar:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <label>Vagas:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <label>Unidade:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-3">
        <label>Torre:</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3 class="panel-title">Dados do Cliente</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-12">
        <label>Cliente:</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label>Fone:</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label>Email:</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label>Conjuge:</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3 class="panel-title">Corretor Antedente</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Nome:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Fone:</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Imobiliária:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Creci:</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3 class="panel-title">Corretor Antedente</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-12">
        <label>Como você conheceu o empreendimento?</label>
        <select class="form-control">
          <option>Outdoor</option>
          <option>Panfleto</option>
          <option>Internet/Site</option>
          <option>Ações</option>
          <option>Indicações</option>
          <option>Jornal</option>
          <option>Stand</option>
          <option>Corretor Externo</option>
          <option>Outros</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label>Local:</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3 class="panel-title">Resultado do Atendimento</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-12">
        <textarea rows="10" cols="178"></textarea>
      </div>
    </div>
  </div>
</div>