<ng-container *ngIf="!userService.loggedUser">
    <div class="hold-transition login-page">
        <div class="wrapper">
             <router-outlet></router-outlet>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="userService.loggedUser">
    <div class="hold-transition skin-purple fixed">
        <div class="wrapper">
            <app-menu></app-menu>
            <app-aside-menu></app-aside-menu>

            <!-- content -->

            <div id="content" class="content-wrapper" role="main">
                <router-outlet></router-outlet>

            </div>
            <!-- /content -->

            <app-footer></app-footer>
        </div>
    </div>
</ng-container>