<header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
        <span class="logo-mini"><b>LAMP</b></span>
        <span class="logo-lg"><b>LAMP</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">

        <!-- Sidebar toggle button-->
        <a href="#" #sideBarToggle class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only"></span>
        </a>

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-list"></i>
                </button>
            </div>

        </div>
    </nav>

</header>